.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &-col2 {
    .cards__item {
      width: calc(50% - 40px / 2);

      @include respond(sm) {
        width: 80%;
        margin: 0 auto 30px auto;
      }
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.07);
    box-sizing: border-box;
    margin-bottom: 40px;
    border-radius: 5px;

    @include respond(small) {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
      padding: 30px 0;
    }
  }
  &__img-wrapper {
    margin: 0;
    width: 40%;
    height: 300px;
    display: flex;
    overflow: hidden;
    z-index: 1;

    @include respond(small) {
      width: 50%;
      margin-bottom: 20px;
      height: auto;
    }
    @include respond(sm) {
      width: 80%;
    }
  }
  .clipped-image-circle {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    clip-path: circle(240px at right);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 1;

    @include respond(small) {
      clip-path: none;
      border-radius: 5px;
    }
  }

  &__body {
    display: flex;
    align-items: center;
    width: 60%;
    box-sizing: border-box;
    padding: 0 30px;

    @include respond(small) {
      width: 80%;
    }
    @include respond(sm) {
      width: 100%;
    }
  }
  &__bio {
    margin-bottom: 35px;

    &-name {
      font-size: 140%;
      color: $dark_gray;
      line-height: 0;
      margin-bottom: 25px;
    }
    &-company {
      line-height: 0;
    }
  }
}
