.topbar {
  @include respond(normal) {
    display: none;
  }
}
.topbar__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 20px 0;
  font-size: 80%;
}
.topbar__form {
  display: flex;
  align-items: center;

  i:hover {
    cursor: pointer;
  }
}
.topbar__form-text {
  margin-right: 20px;
}
.topbar__form-input {
  span {
    position: relative;
  }
  i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: $dark_gray;
  }
}

.menubar {
  @include respond(normal) {
    background-color: $white;
  }
}
.menubar__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

  @include respond(large-desktop) {
    width: $large-desktop;
  }

  @include respond(normal) {
    flex-direction: column;
    padding: 15px;
  }
}
.menubar__logo {
  @include respond(normal) {
    color: $dark_gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    i {
      cursor: pointer;
    }
  }
}
.header-nav {
  display: flex;
  align-items: center;

  @include respond(normal) {
    flex-direction: column;
    align-items: stretch;
  }
}
.nav__items {
  display: flex;

  @include respond(normal) {
    flex-direction: column;
  }
}
.nav__link {
  color: $white;
  padding-right: 14px;
  transition: 0.3s;

  @include respond(normal) {
    color: $dark_gray;
    display: block;

    &:hover {
      color: $pink;
    }
  }
}
.nav__item {
  margin-right: 25px;
  position: relative;

  @include respond(normal) {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 20px;
    }
  }
}
.has-items {
  position: relative;

  &:before {
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: inherit;

    @include respond(large-desktop) {
      position: absolute;
      top: 2px;
      right: 0;
    }
  }

  &:hover {
    .second {
      opacity: 1;
      visibility: visible;
      transform: translateY(-10px);
    }
  }
}
.second {
  position: relative;
  opacity: 0;
  visibility: hidden;
  transition: all 350ms ease-in-out;
}
.second__wrapper {
  background-color: #fff;
  border-radius: 3px;
  padding: 20px;
  position: absolute;
  top: 30px;
  right: 0;
  min-width: 150px;
}
.second__item {
  padding-bottom: 15px;

  &:last-of-type {
    padding-bottom: 0;
  }
}
.second__link {
  display: block;
  color: $dark_gray;
  transition: 0.2s;

  &:hover {
    color: $pink;
  }
}
.second__has-items {
  position: relative;

  &:before {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 2px;
    right: 15px;
    color: $base;
  }
  &:hover {
    .third {
      opacity: 1;
      visibility: visible;
      transform: translateY(-10px);
    }
  }
}

.third {
  position: relative;
  opacity: 0;
  visibility: hidden;
  transition: all 350ms ease-in-out;
}
.third__wrapper {
  position: absolute;
  min-width: 180px;
  bottom: -60px;
  right: -210px;
  background-color: #fff;
  border-radius: 3px;
  padding: 20px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.07);
}
.third__item {
  padding-bottom: 15px;

  &:last-child {
    padding-bottom: 0;
    position: relative;
  }
}
.third__link {
  display: block;
  color: $dark_gray;
  transition: 0.2s;

  &:hover {
    color: $pink;
  }
}
