header.fixed {
  position: fixed;
  width: 100%;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.05);
}
header .logo-navy {
  display: none;

  @include respond(normal) {
    display: block !important;
  }
}
header .logo-white {
  @include respond(normal) {
    display: none !important;
  }
}
header.fixed .logo-navy {
  display: block !important;
}
header.fixed .logo-white {
  display: none;
}
.topbar {
  @include respond(normal) {
    display: none;
  }
}
.topbar__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 20px 0;
  font-size: 80%;
}
.topbar__form {
  display: flex;
  align-items: center;
  min-height: 20px;

  i:hover {
    cursor: pointer;
  }
}
.topbar__form-text {
  margin-right: 20px;
}
.topbar__form-input {
  position: relative;

  i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: $dark-gray;
    z-index: 200;
  }
  .fa-search {
    color: $white;
  }
  .fa-times {
    color: $dark-gray;
  }
}
.topbar__form-input input {
  opacity: 0;
  transition: all 250ms ease-in-out;
  width: 0;
}
.topbar__form-input input.active {
  opacity: 1;
  width: 250px;
}

.menu-bar {
  transition: all 0.4s ease-in-out;

  @include respond(normal) {
    box-sizing: border-box;
  }
}
.menu-bar .container {
  @include respond(normal) {
    width: 100%;
  }
}
.menu-bar__nav {
  @include respond(normal) {
    background-color: $white;
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    transform: translateY(-100%);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    padding: 20px;
    box-sizing: border-box;
  }
}
.menu-bar__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;

  @include respond(large-desktop) {
    width: $large-desktop;
  }

  @include respond(normal) {
    flex-direction: column;
    align-items: inherit;
  }
}
.menu-bar__logo {
  @include respond(normal) {
    color: $dark-gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $white;
    z-index: 50;
    padding: 0 20px;

    i {
      cursor: pointer;
    }
  }
}
.header-nav {
  display: flex;
  align-items: center;

  @include respond(normal) {
    flex-direction: column;
    align-items: stretch;
  }
}
.nav__items {
  display: flex;

  @include respond(normal) {
    flex-direction: column;
  }
}
.nav__link {
  color: $white;
  padding-right: 14px;
  transition: 0.3s;

  @include respond(normal) {
    color: $dark-gray;
    display: block;
    padding-bottom: 5px;

    &:hover {
      color: $pink;
    }
  }
}
.nav__item {
  margin-right: 25px;
  position: relative;

  @include respond(normal) {
    margin-right: 0;

    &:last-child {
      margin-bottom: 15px;
    }
  }
}
/* dropdown-menu */
.dropdown-menu {
  position: relative;
  opacity: 0;
  visibility: hidden;
  transition: all 350ms ease-in-out;

  @include respond(normal) {
    height: 0;
    transition: none;
  }
}
.dropdown-menu__wrapper {
  background-color: #fff;
  border-radius: 3px;
  padding: 20px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.07);

  @include respond(normal) {
    box-shadow: none;
    padding: 0 0 0 10px;
  }
}
.dropdown-menu-first__wrapper {
  position: absolute;
  top: 30px;
  right: 0;
  min-width: 150px;

  @include respond(normal) {
    position: relative;
    padding: 0 0 0 10px;
    min-width: auto;
    top: 0;
  }
}
.dropdown-menu-second__wrapper {
  min-width: 180px !important;
}
.dropdown-menu-second {
  position: absolute;
  bottom: -60px;
  right: -220px;

  @include respond(normal) {
    position: relative;
    bottom: 0;
    right: 0;
    padding: 0 0 0 10px;
    min-width: auto;
  }
}
.dropdown-menu__item {
  padding-bottom: 15px;

  @include respond(normal) {
    padding-bottom: 0;
  }

  &:last-of-type {
    padding-bottom: 0;
  }
}
.dropdown-menu__link {
  display: block;
  color: $dark-gray;
  transition: 0.2s;

  @include respond(normal) {
    padding-bottom: 5px;
  }

  &:hover {
    color: $pink;
  }
}
.has-items {
  position: relative;

  &:before {
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: $white;
    position: absolute;
    top: 2px;
    right: 0;
  }

  &:hover {
    .dropdown-menu {
      transform: translateY(-10px);

      @include respond(normal) {
        opacity: 0;
        visibility: hidden;
        transform: none;
        height: 0;
      }
    }
    .dropdown-menu-first {
      opacity: 1;
      visibility: visible;

      @include respond(normal) {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}
.dropdown-menu .has-items {
  &:before {
    content: "\f105";
    top: 2px;
    right: 15px;
    color: $base;

    @include respond(normal) {
      display: none;
    }
  }
  &:hover {
    .dropdown-menu-second {
      opacity: 1;
      visibility: visible;
      min-width: 180px;
      @include respond(normal) {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}
/* white header */
.menu-bar-white {
  background-color: $white;

  @include respond(normal) {
    background-color: inherit;
  }

  .nav__link {
    color: $dark-gray;
  }
  .has-items {
    position: relative;

    &:before {
      color: $dark-gray;
    }
  }
}
/*　hamburger menu */
.expand-menu {
  display: none;
}

@include respond(normal) {
  .expand-menu {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    opacity: 0;
    z-index: 100;
  }
  .expand-menu:checked ~ .dropdown-menu {
    height: auto !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
  .expand-menu:checked ~ .dropdown-menu-second {
    height: auto !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
  .expand-menu:checked ~ .menu-bar__nav {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .expand-menu ~ .has-items-link,
  .expand-menu ~ .has-items-link {
    &:before {
      content: "\f107";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: $dark-gray;
      font-size: x-large;

      position: absolute;
      top: -5px;
      right: 0;
      color: $dark-gray;
    }
  }
  .expand-menu:checked ~ {
    .has-items-link {
      &:before {
        transform: rotate(-180deg);
      }
    }
    .dropdown-menu {
      height: auto;
      opacity: 1;
      visibility: visible;
    }
  }
  .expand-menu-bar {
    top: 28px;
    right: 21px;
    opacity: 0;
    cursor: pointer;
  }
}
