.topbar {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 20px 0;
    font-size: 80%;
  }
  &__form {
    display: flex;
    align-items: center;

    i:hover {
      cursor: pointer;
    }
  }
  &__form-text {
    margin-right: 20px;
  }
  &__form-input {
    span {
      position: relative;
    }
    i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      color: $dark_gray;
    }
  }
}
.menubar {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-bg-white {
    background-color: $white;

    .header-nav .header-nav__link {
        color: $dark_gray;
    }
    .header-nav-second__item-has-children:before {
      color: $dark_gray;
    }
  }
}
.header-nav {
  display: flex;
  align-items: center;

  &__inner {
    display: flex;
  }
  &__item {
    margin-right: 25px;
    position: relative;
  }
  &__link {
    color: $white;    
  }
  &__item-has-children {
    position: relative;

    .header-nav__link {
      padding-right: 14px;
    }
  }
  &__item-has-children:before {
      content: "\f107";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      position: absolute;
      top: 2px;
      right: 0;
      color: inherit;
  }
  &-second__item-has-children {
    position: relative;
  }
  &-second__item-has-children:before {
      content: "\f105";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      position: absolute;
      top: 2px;
      right: 15px;
      color: $base;
  }
  &-second {
    position: relative;
    opacity: 0;
    visibility: hidden;
    transition: all 350ms ease-in-out;

    &__wrapper {
      background-color: #fff;
      border-radius: 3px;
      padding: 20px;
      position: absolute;
      top: 30px;
      right: 0;
      min-width: 150px;
    }

    &__item {
      padding-bottom: 15px;
    }
    &__item:last-of-type {
      padding-bottom: 0;
    }
    &__link {
      display: block;
      color: $dark_gray;
      transition: .2s;

      &:hover {
        color: $pink;
      }
    }
  }
  &__item-has-children:hover {
    .header-nav-second {
      opacity: 1;
      visibility: visible;
      transform: translateY(-10px);
    }
  }
  &-third {
    position: relative;
    opacity: 0;
    visibility: hidden;
    transition: all 350ms ease-in-out;    
    // z-index: 100;

   &__wrapper {
    position: absolute;
    min-width: 180px;
    bottom: -60px;
    right: -210px;
    background-color: #fff;
    border-radius: 3px;
    padding: 20px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, .07);
    // display: none;
   }
   &__item {
    padding-bottom: 15px;

    &:last-child {
      padding-bottom: 0;
      position: relative;
    }
   }
   &__link {
     display: block;
    color: $dark_gray;
    transition: .2s;

      &:hover {
        color: $pink;
      }
    }
  }
  &__second__item-has-children:hover {
    .header-nav-third {
      opacity: 1;
      visibility: visible;
      transform: translateY(-10px);
    }
  }
}
.header-nav-second__item-has-children:hover {

  .header-nav-third {
    visibility: visible;
    opacity: 1;
    transform: translateY(-10px);
  }
}
.menubar {

  &-bg-white {
    background-color: $white;

    .header-nav .header-nav__link {
        color: $dark_gray;
        transition: .3s;

        &:hover,
        &:hover:before {
          color: $pink;
        }
    }
    .header-nav__item-has-children::before {
      color: $dark_gray;

    }
  }
}