.container {
  width: $large-desktop;
  margin: 0 auto;

  @include respond(normal) {
    width: $desktop;
  }
  @include respond(tablet) {
    width: $tablet;
  }
  @include respond(sp) {
    width: $sp;
  }
}
