.btn {
  background-color: $orange;
  color: $white;
  border-radius: 3px;
  cursor: pointer;
  padding: 15px 35px;
  border: 2px solid transparent;
  font-size: 90%;
  transition: 0.4s;

  &-hover-white-border {
    &:hover {
      background-color: transparent;
      border: 2px solid #fff;
    }
  }
  &-hover-orange-border {
    &:hover {
      background-color: transparent;
      border: 2px solid $orange;
      color: $orange;
    }
  }
  &-hover-text-only {
    &:hover {
      background-color: transparent;
      color: $orange;
    }
  }
  &-hover-float {
    &:hover {
      transform: translateY(-5px);
    }
  }
  &-hover-orange {
    &:hover {
      background-color: $orange;
    }
  }

  &-outline {
    background-color: transparent;
    border: 2px solid $orange;
    color: $orange;

    &:hover {
      color: $white;
    }
  }
  &-samon {
    background-color: $samon;
    margin: 40px auto 0 auto;
    padding: 15px 80px;
    border-radius: 5px;

    &:hover {
      background-color: $samon;
      border: 2px solid $samon;
    }
  }

  &-hover-float-orange {
    &:hover {
      background-color: $orange;
      transform: translateY(-5px);
      border: 2px solid $orange;
      box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.2);
    }
  }
}
