.hero {
  width: 100%;
  padding-bottom: 50px;
  background-image: url(../images/wc-home-main-banner4-alt.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;

  &-main {
    padding: 120px 0;

    @include respond(small) {
      text-align: center;
    }
    &__text-wrapper {
      position: relative;
      z-index: 10;
      pointer-events: none;
      margin-bottom: 140px;
    }

    &__text {
      line-height: 1.6;
      font-size: 42px;
      font-weight: 200;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      bottom: 0;

      @include respond(small) {
        font-size: 28px;
      }
    }
    &__text-1 {
      animation: text-rotor-animation 1.5s 1s;
    }
    &__text-2 {
      animation: text-rotor-animation 1.5s 2.5s;
    }
    &__text-3 {
      animation: text-rotor-animation 1.5s 4s;
    }
    &__text-4 {
      animation: text-rotor-animation-last-child 1.5s 5.5s forwards;
    }
  }

  &-service {
    &__inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;

      @include respond(md) {
        flex-direction: column;
      }
    }
    &__item {
      width: calc(25% - 100px / 4);
      margin-right: 10px;
      display: flex;
      flex-direction: column;
      animation: kd-fadeInUp 0.6s 0.6s;

      &:last-child {
        margin-right: 0;
      }
      @include respond(lg) {
        text-align: center;
      }
      @include respond(small) {
        width: 100%;
        text-align: center;
      }
    }
    &__link {
      color: $orange;

      &:hover,
      &:focus {
        color: $blue;
      }
    }
    &__title {
      font-size: 140%;
      font-weight: 200;
    }
    &__text {
      margin-top: auto;
    }
  }
}
