body {
  font-family: $font;
  font-size: 14px;
  line-height: 24px;
  color: $base;
}
main {
  padding: 50px 0;
}
.section {
  padding: 60px 0;
}
.section:first-of-type {
  padding-top: 0;
}
::selection {
  background: $orange;
  color: $white;
}
